.banner {
  display: grid;
  grid-template-rows: 1fr 2fr;
  background-color: black;
}

.home-title {
  background-color: black;
  color: wheat;
}

span {
  color: rgba(245, 222, 179, 0.595);
  font-size: 14px;
}

.banner-container {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 25px;
}

.banner-left {
  grid-column: 1 / 2;
  display: flex;
  align-items: right;
  justify-content: right;
}

.banner-right {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 85%;
}

.home-text {
  margin: 25px 100px;
}

.home-text {
  color: wheat;
  text-align: left;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.3;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  list-style-type: none;
}
/*
@media screen and (max-width: 1300px) {
  .banner-left {
    display: none;
  }
  .banner-right {
    display: flex;
    justify-content: center;
  }
} */
/* ==================MEDIA QUERIES (MEDIUM DEVICES)==================== */

@media screen and (max-width: 1024px) {
  .banner-left {
    display: none;
  }
  .banner-right {
    display: flex;
    justify-content: center;
  }
}

/* ==================MEDIA QUERIES (SMALL DEVICES)==================== */

@media screen and (max-width: 600px) {
  .banner-left {
    display: none;
  }
  .banner-right {
    display: flex;
    /* justify-content: center; */
    width: 50%;
    margin: 0 auto 3rem;
  }
  .home-text {
    margin: 0 1rem 0 1rem;
  }
  .navbar {
    margin: auto;
  }
}
