.navbar {
  background-color: rgb(106, 9, 9);
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  padding-left: 40px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding-right: 20px;
}
