.navbar {
  background-color: rgb(106, 9, 9);
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  padding-left: 40px;
}

.nav-links {
  color: wheat;
  font-weight: 900;
  text-decoration: none;
  margin: 10px;
  padding: 3px 14px;
  margin: 10px;
  border-bottom: 3px solid wheat;
  transition: all 400ms ease-out;
}

.nav-links:hover {
  /* background-color: antiquewhite; */
  background: wheat;
  color: black;
}
